APP_NAME="Sistema Medico"
DEBUG=True
SECRET_KEY=cambia-esto-por-una-clave-secreta-muy-larga

DATABASE_URL=postgresql://postgres:Xhx0912xcxxx@db.msagunfyyqscknfyexzc.supabase.co:5432/postgres
SUPABASE_URL=https://msagunfyyqscknfyexzc.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1zYWd1bmZ5eXFzY2tuZnlleHpjIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODAxODQ3OTksImV4cCI6MjA5NTc2MDc5OX0.LQIiJXGwt-wGzXMErmm5ADSwPawHMW8vf6EkWVDCsgs
SUPABASE_SERVICE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1zYWd1bmZ5eXFzY2tuZnlleHpjIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MDE4NDc5OSwiZXhwIjoyMDk1NzYwNzk5fQ.aeROcPfZTpxrYSMCEFKGZYB7JLBfOY6D41pVuAPFZvc

JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=480

N8N_WEBHOOK_URL=https://tu-n8n.com/webhook
N8N_WEBHOOK_SECRET=tu-secreto-compartido
